:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-wrapper {
    width: 700px;
    overflow-x: auto;

    .header {
        display: flex;
        .item {
            background-color: #f2f2f2;
        }
    }

    .row {
        display: flex;
    }

    .item {
        min-width: 120px;
        width: 150px;
        padding: 10px;
    }

    @media screen and (max-width: 767px) {
        width: 300px;
    }
}