<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-select matInput formControlName="interval" (selectionChange)='changeInterval()'>
      <mat-option *ngFor="let item of interval" [value]="item.value">
        {{item.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
  
<div class="grid-wrapper">
  <div class="header">
    <div class="item" *ngFor="let item of ranges">
      {{item.time | duration}}
    </div>
  </div>
  <div class="body">
    <div class="row" *ngFor="let item of rows">
      <div class="item" *ngFor="let item of ranges">
        {{item.value}}  {{item.time | duration}}
      </div>
    </div>
  </div>
</div>